@import url("https://fonts.googleapis.com/css2?family=Goblin+One&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 300vh;
  background: #2f3640;
}

.text-wrapper {
  position: absolute;
  top: 30%;
  left: 10%;
  padding: 5%;
  overflow: hidden;
  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: -10%;
    height: 0%;
    width: 1px;
    background: #a8a8a8;
    transition: height 250ms ease-out;
    z-index: 2;
  }
  &::after {
    top: 40%;
    transition-delay: 250ms;
    z-index: -1;
  }
  .text {
    position: relative;
    font-size: 5rem;
    color: #fff;
    font-family: "Goblin One", cursive;
    text-transform: uppercase;
    transform: translateX(-120%);
    transition: transform 750ms ease-in-out;
    transition-delay: 500ms;
    &.lower-text {
      z-index: -1;
    }
    &.upper-text {
      z-index: 2;
    }
  }
  &.animate {
    &::before,
    &::after {
      height: 50%;
    }
    .text {
      transform: translateX(0);
    }
  }
}

.img {
  position: absolute;
  width: 500px;
  height: 300px;
  top: 120%;
  left: 8%;
  z-index: 1;
}
